<!doctype html>
<html lang="en">
<head>
    <title>RGB strip</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"
          integrity="sha256-CETRC0luEnm32Z1z91BT8xqiKfIzbspZ64YCq3T63xk=" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <span class="navbar-brand">RGB strip controller</span>
    </div>
</nav>
<div class="container">
    <div class="center">
        <div id="static-color" class="color-picker-div"></div>
        <div id="static-gradient" class="color-picker-div"></div>
    </div>
    <div class="center">
        <button type="button" class="btn btn-primary" id="rainbow">Rainbow</button>
        <button type="button" class="btn btn-primary" id="rainbow-color-wipe">Rainbow Color Wipe</button>
        <button type="button" class="btn btn-primary" id="rainbow-fade">Rainbow Fade</button>
        <button type="button" class="btn btn-primary" id="random-fade">Random Fade</button>
        <button type="button" class="btn btn-primary" id="snake-color">Snake color</button>
        <button type="button" class="btn btn-primary" id="snake-fade">Snake fade</button>
        <button type="button" class="btn btn-primary" id="snake-rainbow">Snake rainbow</button>
        <button type="button" class="btn btn-primary" id="strobe">Strobe</button>
        <button type="button" class="btn btn-primary" id="fire">Fire</button>
        <button type="button" class="btn btn-primary" id="clear">Clear</button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"
        integrity="sha256-ZqakoNPCI/HkpOdMHRfxoQ02BmzWs10uB+pmo4vbY38=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='functions.js') }}"></script>
</body>
</html>
